@model Alumno

@{
    ViewData["Title"] = "Alumno";
    Layout = "Simple";
}
<h1>@ViewData["Title"] </h1>

<p>
    Nombre:  @Model.Nombre  
    Id: @Model.UniqueId
</p>


<partial name="ObjetoEscuelaSimple" /> 

<p><i>@ViewBag.CosaDinamica -  @ViewData["Fecha"]</i></p>